body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: teal;
}

.nav-link {
    color: white;
}

.quem-somos {
    background-color: whitesmoke;
}

.parceiros {
    background-color: salmon;
}

.servicos {
    background-color: silver;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-footer {
    background-color: whitesmoke;
    padding-top: 10px;
    color: gray;
}